html {
        background-color: #fafafa;
        color: #222;
}

body {
        font-size: 14pt;
        margin: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

.container {
        margin-right: auto;
        margin-left: auto;
        max-width: 60rem;
}

